<div class="navigation">
                <a class="nav-itemlogo" href="/"><img class="nav-logo" src="{{ '/static/images/logo.png' | url }}" alt="PGM Logo"></a>
                <a class="nav-item" href="{{ '/over-ons/' | url }}">Over ons</a>
                <a class="nav-item" href="{{ '/opleiding/' | url }}">Opleiding</a>
                <a class="nav-item" href="{{ '/cases/' | url }}">Cases</a>
                <a class="nav-item" href="{{ '/posts/' | url }}">Posts</a>
                <a class="nav-item" href="{{ '/werkplekleren/' | url }}">Werkplekleren</a>
                <a class="nav-item" href="{{ '/contact/' | url }}">Contact</a>
            </div>