---
title: opleiding
layout: page
permalink: opleiding/index.html
---

<div class="title__section">
    <img class="main-image" src="{{ '/static/images/front-image.svg' | url }}" alt="">
    <h1 class="title__head">Opleiding</h1>
</div>


<div class="o-opleiding__page">
    <!-- Control buttons -->
    <div id="buttonsForFiltering">
        <button class="btn active" onclick="filterSelection('section1')">- Wat zal je leren?</button>
        <button class="btn" onclick="filterSelection('section2')">- Ontdek je opleidingsprogramma</button>
        <button class="btn" onclick="filterSelection('section3')">- Verkort traject en vrijstellingen
        </button>
        <button class="btn" onclick="filterSelection('section4')">- Waarom dit graduaat?</button>
        <button class="btn" onclick="filterSelection('section5')">- Wat na je opleiding?</button>
        <button class="btn" onclick="filterSelection('section6')">- Waar volg je les?</button>
        <button class="btn" onclick="filterSelection('section7')">- Praktische info</button>
        <button class="btn" onclick="filterSelection('section8')">- Persoonlijke begeleiding</button>
    </div>

    <div class="container">
        <div class="filterDiv section1">

            <h4>Wat zal je leren?</h4>

            <p>In het Graduaat Programmeren leer je programmeren en staat front-end web development centraal. Deze
                gevarieerde dagopleiding duurt twee jaar, bestaat uit 120 studiepunten en bevat 1200 uur praktijk.</p>
            <h4>Theoretische programmalijnen</h4>

            <h4>Computer Programming</h4>

            <p>Bereid je maar voor om een expert te worden in front-end web development. Je wordt expert in JavaScript
                en leert werken met React, Node.js, TypeScript, PHP en SQL. Om je optimaal klaar te stomen voor een job
                als programmeur, krijg je diverse gastcolleges van experten uit het werkveld en werk je aan authentieke
                cases.
                Applied Information Technology</p>

            <p>Je verdiept je in de geschiedenis en de werking van het internet en ontdekt de logica achter
                programmeren. Daarnaast duik je in de informatie rond hardware, software en netwerken. Later staan onder
                meer databases, security en blockchain op het programma.</p>
            <h4>UI/UX Prototyping</h4>

            <p>In de vakken van deze programmalijn verdiep je je in de codeertalen HTML en CSS. Je leert werken met
                grafische software en gaat design thinking toepassen. Ook ga je aan de slag met CMS-systemen zoals
                WordPress.
                <h4>Business & Communication</h4>

                <p>Je ontdekt hoe bedrijven georganiseerd zijn, je leert handleidingen schrijven en je krijgt een dieper
                    inzicht in marketing en bedrijfscommunicatie. Je leert pitchen voor klanten en samenwerken in team.
                    In het laatste semester geven we je bovendien alle kennis mee die je nodig hebt om als zelfstandige
                    IT’er aan de slag te gaan.</p>
                <h4>WORKPLACE LEARNING @WORK</h4>

                <p>Om je toekomstige job echt te leren kennen, moet je het werkveld intrekken. Dat doe je in de
                    programmalijn @Work. In het eerste jaar bezoek je een aantal digital agencies en voer je opdrachten
                    voor hen uit. Je presenteert het resultaat vervolgens voor een interne en externe jury. In je tweede
                    jaar ga je 10 weken lang werkplekleren in een digitaal bedrijf. Zo doe je praktische kennis op en
                    ervaar je hoe het voelt om echt in team te werken. Tijdens een individueel afsluitend project dat je
                    op de werkvloer uitvoert, verdiep je je bovendien in een onderwerp naar keuze.</p>
        </div>
        <div class="filterDiv section2">

            <h4>Ontdek je opleidingsprogramma</h4>

            <p>Hieronder vind je het volledige studieprogramma voor het graduaat Programmeren - Front-end web
                development (academiejaar 2020 - 2021).</p>

            <img class="programmeren" src="{{ '/static/images/programmeren.png' | url}}"
                alt="Semesters en studiepunten">

            <p>Meer details over het curriculum van deze opleiding vind je in onderstaande ECTS-fiche.</p>
            <p>Wil je meer info over elk vak van deze opleiding?</p>

            <a href="https://www.arteveldehogeschool.be/ects/ahsownapp/ects/ECTSEasy.aspx">Raadpleeg de studiegids
                (ECTS-fiches)</a>

            <p>In de studiegids kies je eerst de opleiding en het traject waarover je meer wil weten.</p>
            <p>Klik 'Zoeken' en je kan snel naar de inhoud en leerdoelen van elk vak.</p>


            <p>Hier vind je een voorbeeld van een uurrooster.</p>
            <a href="{{ '/static/assets/pgm_curriculum_2122.pdf' | url}}" download>Downloaden</a>
            <iframe src="{{ '/static/assets/pgm_curriculum_2122.pdf' | url}}" width="100%" height="500px"></iframe>
        </div>
        <div class="filterDiv section3">

            <h2>Verkort traject en vrijstellingen</h2>
            <h4>Gespreid traject</h4>

            <p>Heb je een functiebeperking? Of ben je student-ondernemer? Spreid je de opleiding liever over drie jaar?
                Dat
                kan! Dan duurt je opleiding drie jaar en heb je gemiddeld 16 uur per week les. Neem hiervoor contact op
                met
                <a href="mailto:trajectbeheer.pgm@arteveldehs.be​"><span>trajectbeheer.pgm@arteveldehs.be​</span></a>
            </p>

            <h4>Vrijstellingen</h4>

            <p>Heb je al een diploma hoger onderwijs of verworven credits uit een verwant studiegebied? Dan heb je
                mogelijk
                recht op vrijstellingen. We bekijken dat samen tijdens een persoonlijk gesprek. Neem hiervoor contact op
                met
                <a href="mailto:trajectbeheer.pgm@arteveldehs.be​"><span>trajectbeheer.pgm@arteveldehs.be​</span></a>
            </p>

        </div>
        <div class="filterDiv section4">

            <h4>Waarom dit graduaat?</h4>
            <h4>Een graduaatsopleiding?</h4>

            <p>Een graduaatsopleiding is een jobgerichte opleiding, sterk gericht op het aanleren en toepassen van
                competenties in reële werksituaties. Ideaal voor wie een sterke en snelle start wil maken op de
                arbeidsmarkt. Arteveldehogeschool biedt 10 graduaten aan. <span>Ontdek hier alles over graduaten.</span>
            </p>

            <p>Als je volmondig "ja" kan zeggen op onderstaande vragen is de graduaatopleiding Programmeren zeker iets
                voor
                jou!</p>

            <h4>Weet je welke job je wil?</h4>

            <p>Deze graduaatsopleiding leidt je op tot JavaScript developer, front-end webdeveloper, CMS themer,
                webdesigner ... Het is maar een greep uit de jobs waarvoor jij voortaan in aanmerking komt.</p>
            <h4>Erkend knelpuntberoep</h4>

            <p>Het tekort aan programmeurs in Vlaanderen is zo groot dat de VDAB ons Graduaat Programmeren actief
                promoot
                onder werkzoekenden. Kandidaten die aan alle voorwaarden voldoen, krijgen hun inschrijvingsgeld
                terugbetaald
                en ontvangen een forfaitaire tussenkomst voor leerkosten zoals de aankoop van een laptop. Verder is er
                nog
                een vergoeding voor hun verplaatsingen, en worden eventuele kosten voor kinderopvang terugbetaald.</p>
            <h4>Leer je graag al doende?</h4>

            <p>De focus in de opleiding ligt op de praktijk. Van bij de start leer je theorie omzetten in praktijk aan
                de
                hand van concrete opdrachten. Zo werk je in het vak @Work real life cases van digital agencies uit onder
                begeleiding van de docenten. Je gaat op kijkstage en doet mee aan hackathons. In het tweede jaar draai
                je
                mee in een echt bedrijf en word je gecoacht door de docenten.</p>
            <h4>Wil je ervaring op je cv kunnen zetten?</h4>

            <p>Werkplekleren en bootcamps maken een groot en belangrijk deel uit van een graduaat. Hierbij ga je
                concrete
                opdrachten en vragen van bedrijven aanpakken en tot een goed einde brengen. Zo doe je werkervaring op
                tijdens je opleiding en kan je hiermee uitpakken tijdens een sollicitatiegesprek of in je portfolio.</p>

            <h4>Wil je goed begeleid worden?</h4>

            <p>Je krijgt les in relatief kleine groepen. Verschillende coaches staan steeds paraat om je vragen te
                beantwoorden. Trajectcoaches volgen je nauwgezet op en sturen bij waar nodig. Je kan gebruik maken van
                de
                leerbegeleiding die wordt aangeboden voor onderwerpen zoals faalangst, uitstelgedrag, planning,
                timemanagement, ...</p>

            <h4>Zou je op termijn graag een bachelordiploma behalen?</h4>

            <p>Dat kan na je graduaatsopleiding via een verkort traject (minstens 90 studiepunten of 1,5 jaar).</p>
        </div>
        <div class="filterDiv section5">

            <h4>Wat na je opleiding?</h4>
            <h4>Veel opties</h4>

            <p>Benieuwd naar jouw toekomstmogelijkheden? Met je graduaatsdiploma op zak kan je allerlei richtingen uit.
            </p>

            <h5>Jobs</h5>

            <p>Laat je creativiteit de vrije loop als web designer, front-end web developer, CMS themer, full-stack
                JavaScript developer of een andere trendy functie in een hippe start-up of digital agency.</p>

            <h5>Sectoren</h5>

            <p>Je kan een carrière uitbouwen bij een gespecialiseerd digitaal bureau of op de IT-dienst van een
                (internationaal) bedrijf, een kmo of een non-profitorganisatie, bij de overheid ...</p>

            <h5>Zelfstandige</h5>

            <p>Liever als zelfstandige front-end developer aan de slag? Wij leren je alles wat je moet weten om een zaak
                op
                te zetten in bijberoep of hoofdberoep. Zo kan je voor je eigen klanten mobiele en online toepassingen
                gaan
                ontwikkelen.</p>

            <h5>Liever verder studeren</h5>

            <p>Afgestudeerden gaan meestal meteen na de opleiding aan de slag.</p>

            <h5>Extra bachelordiploma</h5>

            <p>Wil je meer? Zin om je kennis te verbreden? Zou je graag extra verantwoordelijkheden opnemen?
                Arteveldehogeschool biedt heel wat vervolgopleidingen aan die aansluiten bij je interesses.
                Je kan bijvoorbeeld een bachelor Grafische en digitale media behalen via een verkort traject.</p>

            <p>Heb je de smaak van het studeren écht te pakken? Arteveldehogeschool biedt ook heel wat andere
                opleidingen
                aan die kunnen aansluiten bij je interesses. Ontdek alle bacheloropleidingen van Arteveldehogeschool.
            </p>

            <p>We bieden daarnaast mogelijkheden om je kennis te verdiepen via:</p>
            <ul>
                <li><p>bachelor-na-bacheloropleidingen</p></li>
                <li><p>postgraduaten</p></li>
                <li><p>bijscholingen</p></li>
            </ul>
            <p>Check ook <a href="www.hogeronderwijsregister.be">www.hogeronderwijsregister.be</a> en <a
                    href="www.onderwijskiezer.be">www.onderwijskiezer.be</a> voor mogelijkheden in heel Vlaanderen.</p>
        </div>
        <div class="filterDiv section6">

            <h4>Waar volg je les?</h4>

            <p></p>De opleiding Grafische en Digitale Media volg je op de campus Mariakerke. De thuisbasis van al wie
            zich op
            Arteveldehogeschool wenst te verdiepen in de geheimen van de grafische en digitale media. Op deze campus
            vind je multimedialabs, studio’s voor multicam en streaming, een schetsterras, een fotostudio, een
            geluidsstudio en een print & sign lab.</p>

            <p>De campus is vlot bereikbaar met het openbaar vervoer. Van de campus tot …</p>
            <ul>
                <li>Station Gent-Sint-Pieters: 15 minuten (snelbus)</li>
                <li>De Zuid (W. Wilsonplein): 19 minuten (snelbus)</li>
            </ul>
            <p>Voor meer info over de busverbinding <a
                    href="https://www.arteveldehogeschool.be/sites/default/files/pdf/busverbinding_campus_mariakerke-200224.pdf"><span>klik
                        hier.</a></span></p>

            <p>De campus is ook vlot bereikbaar met het openbaar vervoer en is gelegen vlakbij het Kruispunt R4 (ring)
                en
                N9 Gent-Eeklo.</p>

            <p>Op de campus is ook een ruime parkeergelegenheid en een ruime, overdekte fietsstalling.</p>
        </div>
        <div class="filterDiv section7">
            <h4>Praktische info en veel gestelde vragen.</h4>
            <iframe width="686" height="386" src="https://www.youtube.com/embed/DG1jVe9l1FM" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

            <h4>Toelatingsvoorwaarden</h4>

            <p>Om met een graduaatsopleiding te kunnen starten, moet je beschikken over een van deze studiebewijzen:</p>
            <ul>
                <li>
                    <p>een getuigschrift van het tweede leerjaar van de derde graad secundair onderwijs (bijv. 6 BSO)
                        dat minstens
                        3 jaar behaald is. Als de kandidaat-student dit niet heeft kan hij aan de hand van een
                        toelatingsproef toch
                        proberen om toegang te krijgen tot het hoger onderwijs.</p>
                </li>
                <li>
                    <p>een diploma secundair onderwijs</p>
                </li>
                <li>
                    <p>een hiermee gelijkgesteld getuigschrift</p>
                </li>
            </ul>
            <p>Heb je geen diploma secundair onderwijs, dan kan je je graduaatsopleiding combineren met aanvullende
                algemene vorming. Zo behaal je alsnog je diploma secundair onderwijs. Meer info vind je hier.</p>

            <h4>Eventuele toelatingsproef</h4>

            <p>Wie niet over één van bovenstaande studiebewijzen beschikt, moet slagen in een toelatingsproef. De
                toelatingsproef wordt afgenomen door de Associatie Universiteit Gent. Deze toelatingsproef bestaat uit
                twee
                delen (taalvaardigheden en rekenvaardigheden) en is op het niveau van het zesde jaar BSO.
                Kandidaat-studenten moeten minimum 18 jaar zijn om te kunnen deelnemen aan de proef en de proef kan
                slechts
                één maal per academiejaar afgelegd worden. Je kan op 2 momenten de proef afleggen. Dit zal in de loop
                van
                juni en september zijn (met het oog op starten in september 2019).</p>

            <p>Kandidaat-studenten die een graduaatsopleiding willen volgen aan Hogent of Howest zullen dus dezelfde
                proef
                afleggen. De kandidaat-studenten die slagen voor de proef krijgen een bewijs van toelating, uitgereikt
                door
                de AUGent, dat onbeperkt geldig is en aanvaard wordt door elke hogeschool van de AUGent. Het betreft een
                algemene toelating tot een graduaatsopleiding en het is dus niet opleidingsspecifiek. Een bewijs van
                toelating voor de bacheloropleiding is ook geldig voor de toelating tot een graduaatsopleiding maar
                omgekeerd is dit niet het geval.</p>

            <p>Hoe kan je deelnemen aan de toelatingsproef? Je kan je aanmelden door je naam (voor- en familienaam),
                e-mailadres, GSM nummer en de graduaatsopleiding die je wenst te volgen door te mailen naar
                studieadvies@arteveldehs.be. Een medewerker van de Associatie Universiteit Gent zal een paar weken
                voorafgaand aan de proef contact opnemen om je uit te nodigen voor de toelatingsproef.</p>

            <p>Vragen over de toelatingsproef? Neem gerust contact op met de dienst studieadvies.</p>

            <h4>Hoeveel kost de opleiding?</h4>

            <li>
                <p>Eén voltijds jaar van 60 studiepunten kost € 938,80. Beursstudenten betalen steeds € 110,80. Alle
                    informatie
                    over het inschrijvingsgeld vind je <a
                        href="https://www.arteveldehogeschool.be/bij-ons-studeren/inschrijven"><span>hier</span></a>.
                </p>
            </li>
            <li>
                <p>Naast het inschrijvingsgeld en de laptop zijn er nog kosten zoals software, studiemateriaal,
                    studiereizen en
                    printmateriaal. Hievoor reken je best op een 500 euro per studiejaar. Alle kosten zijn onder
                    voorbehoud.</p>
            </li>

            <h4>Welk studiemateriaal heb je nodig?</h4>

            <p>We werken voornamelijk met digitaal studiemateriaal dat ter beschikking wordt gesteld op het elektronisch
                leerplatform. Bij de start van de lessen kom je alles te weten over het studiemateriaal.</p>

            <h4>Welke laptop heb ik nodig?</h4>

            <p>Wie voor de opleiding Graduaat Programmeren kiest, heeft gegarandeerd een laptop nodig. Je bepaalt
                volledig
                zelf of je voorkeur uitgaat naar een Mac of een pc. Op de campus zijn beide besturingssystemen alvast
                voorzien.</p>

            <h5>Minimumconfiguratie:</h5>

            <p>· i5 (8ste/9de generatie) processor of evenwaardig alternatief van AMD</p>
            <p>· 8 GB RAM</p>
            <p>· 2 GB grafisch geheugen</p>
            <p>· 512 GB SSD-schijf</p>
            <p>· Wifi 802.11 a/g/n</p>


            <h5>Aanbevolen configuratie</h5>
            <p>· i7 (8ste/9de generatie) processor of evenwaardig alternatief van AMD</p>
            <p>· 8 GB RAM</p>
            <p>· 2 GB grafisch geheugen</p>
            <p>· 512 GB SSD-schijf</p>
            <p>· Wifi 802.11 a/g/n</p>

            <p>We raden ook aan om een netwerkkabel aan te kopen van 2 meter type CAT6. Voor pc-gebruikers komt een
                tweede
                batterij ook van pas.</p>

            <p>Je dient ook voorzien te zijn van:</p>

            <li>Voor Mac: ethernet (RJ45) adapter, afhankelijk van de beschikbare poorten op je laptop:</li>
            <li>USB naar gigabit ethernetadapter;</li>
            <li>Thunderbolt naar gigabit ethernetadapter;</li>
            <li>USB-C (thunderbolt 3) naar gigabit ethernetadapter.</li>
            <li>Voor pc: ethernetoutlet (RJ45) of ethernetadapter.</li>

            <p>Als student aan de Arteveldehogeschool kan je een kwalitatieve laptop kopen tegen een gunstige prijs. Het
                aanbod is volledig vrijblijvend, je mag uiteraard ook elders een laptop aankopen.</p>

            <li>
                <p>Campusshop (Asus, Lenovo en Toshiba)</p>
            </li>
            <li>
                <p>Signpost (HP en Lenovo)</p>
            </li>
            <li>
                <p>Switch (Mac)</p>
            </li>

            <p>Indien je recht hebt op studiefinanciering, kan je hier een aanvraagformulier terugvinden ter
                ondersteuning
                bij je aankoop van duurzaam studiemateriaal.</p>

            <h4>Welke software heb ik nodig?</h4>

            <p>We verwachten van onze studenten ook dat ze met legale software werken. Bij inschrijving krijg je
                instructies over de aanschaf hiervan:</p>

            <li>
                <p>Eenmaal ingeschreven als student krijg je toegang tot de Office 365-omgeving. Via die omgeving kan je
                    gratis
                    Microsoft Office Pro (voor Windows en iOS) downloaden.</p>
            </li>
            <li>
                <p>Adobe Creative Cloud (o.a. Photoshop, Indesign, Illustrator ...) via aanbod van Academic Shop – 75
                    euro
                    inclusief BTW per jaar.</p>
            </li>
            <li>
                <p>LinkedIn Learning - 36 euro inclusief BTW per jaar</p>
            </li>

            <h4>Uit hoeveel studiepunten bestaat de opleiding?</h4>

            <p>Deze opleiding bestaat uit 120 studiepunten, verspreid over 2 jaar. Een studiepunt weerspiegelt hoeveel
                studietijd de gemiddelde student aan dit vak besteedt. Per studiepunt mag je rekenen op 25 à 30 uur
                ‘werktijd’ per semester: lessen bijwonen, taken maken, studeren, …</p>
            <h4>Hoeveel lesuren heb je?</h4>

            <p>Gemiddeld 24 uur per week. Je besteedt ook tijd aan opdrachten, oefeningen, werkplekleren ... Alles samen
                investeer je wekelijks ongeveer 40 uur in je opleiding.</p>

            <h4>Hoe ziet een academiejaar eruit?</h4>

            <p>Het academiejaar start op maandag 14 september 2020. Er zijn vier lesperiodes van een zevental weken
                (september – november, november – januari, februari – april en april – juni), telkens gevolgd door een
                evaluatiemoment. Elk vak loopt over één periode. Na de tweede periode heb je een week vakantie (1 t.e.m.
                5
                februari 2021).</p>

            <h4>Zal je de opleiding aankunnen?</h4>

            <p>Dat hangt niet alleen af van wat je kent en kunt, maar ook van je motivatie, je inzet en je
                studiemethode.
                Je komt terecht in een zeer diverse groep studenten. Wat je voorgeschiedenis ook is, de
                graduaatsopleiding
                Programmeren mikt op mensen met een zekere passie voor code. We werken in verschillende niveaus, dus je
                kan
                starten zonder voorkennis van de gebruikte programmeertalen. Wel is het belangrijk dat je min of meer
                weet
                wat programmeren inhoudt. Wie extra ondersteuning wenst, kan die uiteraard krijgen. Heb je voorkennis of
                pik
                je de leerstof sneller op, dan kan je aan de slag met bijkomende uitdagende opdrachten. Heb je hierover
                vragen? Stuur dan een mailtje naar de trajectbeheerder (trajectbeheer.pgm@arteveldehs.be).</p>

            <h4>Instapcursus wiskunde</h4>

            <p>Elementaire wiskundige vaardigheden zoals de regel van drie, percentages berekenen en grafieken
                interpreteren komen tijdens de opleiding zeker aan bod.</p>

            <p>Elk jaar wordt er een instapcursus wiskunde voorzien.</p>

            <h4>Hoe groot zijn de groepen?</h4>

            <p>Wij streven naar klasgroepen van ongeveer 30 studenten. Zo kunnen we iedereen de beste persoonlijke
                ondersteuning bieden.</p>

            <h4>Hier vind je een overzicht van <a
                    href="https://www.arteveldehogeschool.be/sites/default/files/pdf/wistjedatjes_pgm.pdf"><span>enkele
                        weetjes met betrekking tot de opleiding en een voorbeelduurrooster.</span></a></h4>
        </div>
        <div class="filterDiv section8">

            <h4>Persoonlijke begeleiding</h4>
            <h5>Unieke aanpak in Graduaat Programmeren</h5>

            <p>Onze docenten volgen je persoonlijk op, dus je haalt echt het beste uit jezelf. Er is dus ook geen drempel
            als je met vragen zit.</p>

            <p>Voor vragen rond studietraject, studiekeuze en vrijstellingen in de opleiding, mail naar
            <a href="mailto:trajectbeheer.pgm@arteveldehs.be"><span>trajectbeheer.pgm@arteveldehs.be</span></a>.</p>

            <p>Voor vragen rond psychosociale begeleiding, mail naar 
                <a href="mailto:gudrun.herman@arteveldehs.be"><span>gudrun.herman@arteveldehs.be.</span></a>.</p>

            <p>Voor vragen rond studietoelages en studiefinanciering, mail naar 
                <a href="mailto:gudrun.herman@arteveldehs.be"><span>gudrun.herman@arteveldehs.be.</span></a>.</p>

            <p>Voor vragen rond bijzondere statuten, mail naar 
                <a href="mailto:katrien.vandermarcke@arteveldehs.be"><span>katrien.vandermarcke@arteveldehs.be</span></a>.</p>

            <h4>Arteveldebrede begeleiding op maat</h4>

            <p>Aan Arteveldehogeschool ligt de nadruk op een persoonlijke begeleiding. Geen idee welke opleiding je wil
            volgen? Wil je workshops volgen rond examenangst, uitstelgedrag of nood aan een goede studiemethode? Vraag
            je je af of je recht hebt op vrijstellingen of op een studietoelage? Heb je nood aan psychosociale
            begeleiding? Doe dan een beroep op ons ruim begeleidingsaanbod op maat.</p>

        </div>
    </div>
</div>
<script src="{{ '/static/js/aboutus.js' | url }}"></script>